.Slices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 16px;
    margin-right: 16px;
    list-style-type: none;
}

.Slices:first-child {
    margin-top: 0;
}

.Slices:hover {
    cursor: grab;
}