.ProfileNavBarMain {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin-left: 20px;
    margin-top: 120px;
}

.ProfileNavBarButton {
    padding-top: 17px;
    padding-bottom: 17px;
    transition: 0.5s;
    text-decoration: none;
    list-style: none;
}

.ProfileNavBar:hover {
    cursor: pointer;
    opacity: 0.7;
}

.active {
    color: #fff;
}