.FeedMain {
    width: 720px;
    padding-top: 58px;
}

.FeedColumns {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 24px;
    overflow-y: scroll;
    height: 312px;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
}

/* WebKit and Chromiums */
.FeedColumns::-webkit-scrollbar {
    width: 8px;
    background-color: #2F2F37;
}

.FeedColumns::-webkit-scrollbar-thumb {
    background: #8585AD;
}

.FeedContent {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.FeedContentImage {
    width: 60px;
    height: 60px;
    background: linear-gradient(#131316, #131316) padding-box,
        linear-gradient(to right, #801AB2, #4C4CFF) border-box;
    border-radius: 100px;
    border: 2px solid transparent;
    object-fit: cover;
    margin-right: 16px;
}

.FeedContentText {
    width: 380px;
    margin-right: 8px;
}

.FeedContentCount {
    width: 108px;
    text-align: right;
    margin-right: 6px;
}

.FeedFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 38px 40px;
}

.FeedCounter {
    display: flex;
    align-items: center;
}

